apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "drinks-app.fullname" . }}-config
  labels:
    {{- include "drinks-app.labels" . | nindent 4 }}
data:
  application.yaml: |
    server:
      port: {{ .Values.server.port }}
    
    spring:
      application:
        name: {{ .Values.spring.application.name }}
      
      jpa:
        {{- if eq (.Values.spring.profiles.active | default "dev") "dev" }}
        database-platform: org.hibernate.dialect.H2Dialect
        {{- else }}
        database-platform: org.hibernate.dialect.PostgreSQLDialect
        {{- end }}
        hibernate:
          ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:update}
        show-sql: ${SPRING_JPA_SHOW_SQL:false}
        properties:
          hibernate:
            format_sql: false
            jdbc:
              batch_size: {{ .Values.spring.jpa.properties.hibernate.jdbc.batch_size }}
            order_inserts: {{ .Values.spring.jpa.properties.hibernate.order_inserts }}
            order_updates: {{ .Values.spring.jpa.properties.hibernate.order_updates }}
      
      {{- if ne (.Values.spring.profiles.active | default "dev") "dev" }}
      datasource:
        driver-class-name: {{ index .Values.spring.datasource "driver-class-name" }}
        hikari:
          maximum-pool-size: {{ index .Values.spring.datasource.hikari "maximum-pool-size" }}
          minimum-idle: {{ index .Values.spring.datasource.hikari "minimum-idle" }}
          connection-timeout: {{ index .Values.spring.datasource.hikari "connection-timeout" }}
          idle-timeout: {{ index .Values.spring.datasource.hikari "idle-timeout" }}
          max-lifetime: {{ index .Values.spring.datasource.hikari "max-lifetime" }}
      {{- end }}
    
    springdoc:
      api-docs:
        path: {{ index .Values.springdoc "api-docs" "path" }}
      swagger-ui:
        path: {{ index .Values.springdoc "swagger-ui" "path" }}
      show-actuator: {{ index .Values.springdoc "show-actuator" }}
      use-management-port: {{ index .Values.springdoc "use-management-port" }}
    
    management:
      endpoints:
        web:
          base-path: {{ index .Values.management "endpoints" "web" "base-path" }}
          exposure:
            include: {{ join "," (index .Values.management "endpoints" "web" "exposure" "include") }}
      endpoint:
        health:
          show-details: {{ index .Values.management "endpoint" "health" "show-details" }}
    
    logging:
      level:
        root: {{ .Values.logging.level.root }}
        org.hibernate.SQL: {{ index .Values.logging.level "org.hibernate.SQL" }}
        org.hibernate.type.descriptor.sql.BasicBinder: {{ index .Values.logging.level "org.hibernate.type.descriptor.sql.BasicBinder" }}

