---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: drinks-app
  namespace: default
spec:
  interval: 5m
  chart:
    spec:
      chart: config/helm/drinks-app
      sourceRef:
        kind: GitRepository
        name: drinks-app
        namespace: flux-system
      interval: 1m
      reconcileStrategy: Revision
  # values:
  #   image:
  #     repository: ghcr.io/guybal/java-sample-app
  #     pullPolicy: IfNotPresent
  #     tag: "0.0.1"
    
  #   replicaCount: 1
    
  #   spring:
  #     profiles:
  #       active: dev
  #     jpa:
  #       hibernate:
  #         ddl-auto: validate
  #       show-sql: false
    
  #   database:
  #     external:
  #       enabled: false
  #       # host: ""  # Set via environment variable or Secret
  #       # port: 5432
  #       # database: drinksdb
  #       # username: postgres
  #       # secretName: drinks-app-db-secret
  #       # secretKey: mu-password
  #     embedded:
  #       enabled: false
    
  #   service:
  #     type: ClusterIP
  #     port: 8080
    
  #   ingress:
  #     enabled: false
    
  #   resources:
  #     limits:
  #       cpu: 1000m
  #       memory: 1Gi
  #     requests:
  #       cpu: 500m
  #       memory: 512Mi
    
  #   autoscaling:
  #     enabled: false
